body {
  background-color: rgb(163, 160, 160); 
}
/* NavBar Style */
.navbar {
  background: blue;
}
/* I dont think either menu or navbar are doing anything*/
.menu {
  padding: 0px;
  background-color: #4968ad;
}

/* this is the styles and animation for the tile flip */
.panel  {
  margin: 0 auto;
  width: 130px;
  height: 130px;
  position: relative;
  font-size: 1em;
  perspective: 600px;
  border-radius: 50px;
}

.pad {
  border-radius: 50px;
}

.panel .front {
  position: absolute;
  top: 0;
  z-index: 900;
  width: inherit;
  height: inherit;
  text-align: center;
  transform: rotateX(0deg) rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: all .4s ease-in-out;
  border-radius: 50px;
}

.panel:hover .front {
  z-index: 900;
  transform: rotateY(180deg);
  cursor: pointer;
}

.panel .back {
  border-radius: 75px;
  text-align: center;
  padding: 35px 0;
  position: absolute;
  top: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: all .4s ease-in-out;
}

.panel:hover .back {

  z-index: 1000;
  transform: rotateX(0deg);
  cursor: pointer;
}
/* styles for element boxes(containers)*/
.headerBox {
  padding: 50px;
  position: absolute;
  border: 1px solid grey;
  border-radius: 25px;
  background-color: lightcyan;
  text-align: center;
  color: black;
  box-shadow: 2px 2px black;
}
.contact-headerBox {
  position: absolute;
  text-align: center;
  color: black;
  
}

.footerBox {
  padding: 25px;
  background: lightcyan;
  margin: 40px;
  border: 1px solid grey;
  border-radius: 25px;
  box-shadow: 2px 2px black;
  text-align: center;
}

.emailBox {
  background-color:lightcyan;
  text-align: center;
  padding: 55px;
  border: 1px solid grey;
  box-shadow: 2px 2px black;
}

.imgBox {
  border: 1px solid grey;
  border-radius: 300px;
  box-shadow: 2px 2px 5px black;
}

.imageFlex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imgBoxHome {
  border: 1px solid grey;
  box-shadow: 2px 2px 5px black;
  justify-content: center;
  padding: 1px;
}
.aboutMe {
  justify-content: center;
  padding: 40px;
}
.aboutMeHome {
  justify-content: center;
  padding: 10px;
}


.socialBox {
  padding: 55px 50px;
  text-align: center;
  
}

/* styles for the social media icons */
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px); 
}

a.linkedin {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}

a.github {
  color: black;
}
a.google {
  color: green;
}
/*style for Posted notes */
.corkboard {
  background-color: tan;
  border: 10px solid  rgba(75, 47, 47, 0.911);
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
}