/*Project css*/
.projectGrid {
  margin: 2em 0 3em 0;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1em;
  color:black;
  grid-template-areas:
  "content4 "
  "img4"
  "content3 "
  "img3" 
  "content1" 
  "img1"
  "content2"
  "img2"
  ;
}

a {
  color: darkblue;
}
.projectHead{
  font-size: calc(1rem + ((1vw - 3.2px) * 1));
  font-family: 'Roboto Slab', serif;
  text-align: center;
  margin: 0 0 1em 0;
 }
/* Content Grids*/
.content1 {
  grid-area: content1;
}
.content2 {
  grid-area: content2;
  }
.content3 {
  grid-area: content3;  
}
.content4 {
  grid-area: content4; 
}

/*Image Grids*/
.img1 {
  grid-area: img1;
  /* justify-items: start;
  align-items: end; */
}
.img2 {
  grid-area: img2;
  /* justify-items: start;
  align-items: end; */
}
.img3 {
  grid-area: img3;
  /* justify-items: start;
  align-items: end; */
}
.img4 {
  grid-area: img4;
  /* justify-items: start;
  align-items: end; */
}


.imgBoxHome {
  border: 1px solid grey;
  box-shadow: 2px 2px 5px black;
  justify-content: center;
  align-content: center;
  height: auto;
  width: 100%;
}

.contentBox {
  padding: 15px;
  border: 1px solid grey;
  border-radius: 25px;
  background-color: rgb(52, 214, 214);
  text-align: justify;
  color: black;
  box-shadow: 2px 2px black;
  opacity: 0.9;
  font-size: calc(.7rem + ((1vw - 3.2px) * 1));
  font-family: 'Roboto Slab', serif;
}


/* Mobile size Media Query's */
/* @media only screen and (max-width: 767px) {
  .project-container {
    margin: 3em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'content1'
    'img1'
    'content2' 
    'img2';
    grid-gap: 10px;
    color:black;
    width: 100%;
                       
  }

 
}

@media only screen and (max-width: 667px) {
  .project-container {
    margin: 0;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'content1'
    'img1'
    'content2' 
    'img2'
    'content3' 
    'img3';
    grid-gap: 10px;
    color:black;
    width: 100%;
                       
  }
}
@media only screen and (max-width: 320px) {
  .project-container {
    margin: .5em;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'content1'
    'img1'
    'content2' 
    'img2'
    'content3' 
    'img3';
    grid-gap: 10px;
    color:black;       
  }

} */