/*For Desktop viewing*/

.contact-container {
  margin-top: 2em;
  display: flex;
  text-align: center; 
  font-family: 'Roboto Slab', serif; 
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  color:black;
}
.card {
  margin-top: 5rem;
  max-width: 25rem;
}
.notes {
  width: 100%;
}
.emailBox {
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

a.email {
  color: rgb(37, 51, 23);
}

a.email:hover {
  color: chartreuse;
}


.contactHead{
  font-family: 'Roboto Slab', serif;
 }

.socialFollows {
  text-align: center;

}

/*Style for HeadShot images*/
.imgBox {
border: 1px solid grey;
border-radius: 300px;
box-shadow: 2px 2px 5px black;
justify-content: center;
align-content: center;
}

/* styles for the social media icons */
a.social {
 margin: 0 1rem;
 transition: transform 250ms;
 display: inline-block;
}

a.social:hover {
transform: translateY(-2px); 
color: chartreuse;
}

a.linkedin {
color: #4968ad;
}

a.twitter {
color: #49a1eb;
}

a.instagram {
color: black;
}

a.github {
color: black;
}
a.google {
color: green;
}

