/*For Desktop viewing*/
.contact-container {
  margin: 5em;
  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr auto;
  grid-template-areas:
  /* "header header header"  */
  "social img1 about" 
  "email img1 about"
  "notes notes notes";
  grid-gap: 20px;
  /* padding: 10px; */
  color:black;

}

.emailBox {
  grid-area: email;
  text-align: center;
  font-size: calc(1rem + ((1vw - 3.2px) * 1));
  font-family: 'Roboto Slab', serif;
}

a.email {
  color: chartreuse;
}

a.email:hover {
  color: hotpink;
}


.contact_text {
  width: auto;
  grid-area: about;
  border: 1px solid grey;
  border-radius: 25px;
  background-color: rgb(52, 214, 214);
  box-shadow: 2px 2px black;
  opacity: 0.9;
  padding: .8em;
  text-align: center; 
  font-size: calc(.7rem + ((1vw - 3.2px) * 1));
  font-family: 'Roboto Slab', serif; 
}
.contactHead{
  font-size: calc(1rem + ((1vw - 3.2px) * 1));
  font-family: 'Roboto Slab', serif;
  
 }

.socialFollows {
  grid-area: social;
  padding-top: 10px;
  text-align: center;
  font-size: calc(.6rem + ((1vw - 3.2px) * 1));
}

.notes {
  
  grid-area: notes;
  text-align: center;
  align-self: center;
  font-size: calc(.6rem + ((1vw - 3.2px) * 1));
}

/*Style for header image*/
.header_img {
  grid-area: header;

}
.imgBoxContact {
  border: 1px solid grey;
  box-shadow: 2px 2px 5px black;
  padding: 1px;
}

/*Style for HeadShot images*/
.imgBox {
border: 1px solid grey;
border-radius: 300px;
box-shadow: 2px 2px 5px black;
width: 100%;
max-width: 25em;
height: auto;

}
.headShot_img{
  grid-area: img1;
  align-self: center;
  text-align: center;
  
}

/* styles for the social media icons */
a.social {
 margin: 0 1rem;
 transition: transform 250ms;
 display: inline-block;
}

a.social:hover {
transform: translateY(-2px); 
color: chartreuse;
}

a.linkedin {
color: #4968ad;
}

a.twitter {
color: #49a1eb;
}

a.instagram {
color: black;
}

a.github {
color: black;
}
a.google {
color: green;
}
/*style for Posted notes */
.corkboard {
background-color: tan;
border: 10px solid  rgba(75, 47, 47, 0.911);
border-radius: 10px;
box-shadow: 2px 2px 5px black;
}

/* Mobile size Media Query's */
@media only screen and (max-width: 768px) {
  .contact-container {
    display: grid;
    margin: .5em;
    width: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    /* 'header header' */
    'about about'
    'email email'
    'social img1' 
    'notes notes';
    grid-gap: 20px;
    padding: 10px;
    color:black;
                       
  }
/*Style for HeadShot images*/
.imgBox {
  border: 1px solid grey;
  border-radius: 300px;
  box-shadow: 2px 2px 5px black;
  width: 100%;
  max-width: 10em;
  height: auto;
  
  }
  .headShot_img{
    grid-area: img1;
    align-self: center;
    text-align: center;
    
  }

}
