



/* this is the styles and animation for the tile flip */

.panel  {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  position: relative;
  font-size: 1em;
  perspective: 600px;
  border-radius: 50px;
  flex-wrap: wrap;
}

.pad {
  border-radius: 50px;
  text-indent: 0;
  /* background-color: grey; */
}

.panel .front {
  position: absolute;
  top: 0;
  z-index: 900;
  width: inherit;
  height: inherit;
  text-align: center;
  transform: rotateX(0deg) rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: all .4s ease-in-out;
  border-radius: 50px;
}

.panel:hover .front {
  z-index: 900;
  transform: rotateY(180deg);
  cursor: pointer;
}

.panel .back {
  border-radius: 75px;
  text-align: center;
  text-indent: 0;
  padding: 2em 1em;
  position: absolute;
  top: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: all .4s ease-in-out;
}

.panel:hover .back {
  z-index: 1000;
  transform: rotateX(0deg);
  cursor: pointer;
  
}

