/* desktop view*/
.homeBox {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  width: 100%;
  height: 100vh;
}
.homeContainer {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}
.grid-header {
  padding: 10px;
  text-align: center;
  background-color: rgba(173, 166, 166, 0.836);
  opacity: 0.9;
  width: auto;
}

.nameHead {
  font-family: 'Lobster Two', cursive;
  margin-bottom: 0;
}
.homeHead{
 font-family: 'Roboto Slab', serif;
}

.contentHeaders {
  text-align: center;
  font-family: 'Calistoga', cursive;
  padding: 1rem;
}

.main {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  background-color:rgba(219, 219, 64, 0.568);
  color: black;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  padding: 2rem;
}

.mainTxt {
  font-family: 'Roboto Slab', serif;
  text-indent: 0;

}
.about {
  display: flex;
  width: 100%;
  height: auto;
  flex-flow: column wrap;
  color: black;
  background: tan;
  text-align: justify;
  font-family: 'Roboto Slab', serif;
  padding: 2rem;
}
.successBlock {
  display: flex;
  width: 100%;
  height: auto;
  flex-flow: column wrap;
  background-color:  rgb(199, 116, 68);
  padding: 2rem;
}
.success {
  display: flex;
  width: 100%;
  height: auto;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  color: black;
  text-align: left;
  font-family: 'Roboto Slab', serif;
}
.successHead {
  text-align: center;
  padding: 1em;
  margin: 0;
  text-decoration: underline;
  font-family: 'Calistoga', cursive;
}

.col-1 {
  grid-area: col-1;
}
.col-2 {
  grid-area: col-2;
}

.imgBackground {
  opacity: 0.5;
  justify-content: center;
  padding: 1px;
}


